<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">    
		<ion-back-button defaultHref="/tabs/tab1"></ion-back-button></ion-buttons>
    <ion-title>Formacion Academica</ion-title>
  </ion-toolbar>
</ion-header>

	
<ion-content color="blue">
	<ion-card>
		<ion-icon name="briefcase"></ion-icon>
		<ion-card-title>Grado en Administración y Dirección de Empresa</ion-card-title>
		<h4>EHU-UPV</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
	</ion-card>
		



</ion-content>
