<ion-header>
	<ion-toolbar>
		<ion-title>
			Curriculum Vitae
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-img src="/assets/garfield.jpg"></ion-img>
		<ion-card-header>
			<ion-card-title>Datos personales</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<table>
				<tr>
					<th>Nombre</th>
					<td>Nerea Labandera</td>
				</tr>
				<tr>
					<th>Número de telefono</th>
					<td>+34 666555777</td>
				</tr>
			</table>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Formación</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ul>
				<ion-list>AAAAA</ion-list>
				<ion-list>BBBBB</ion-list>
			</ul>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Experiencia</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ul>
				<ion-list>AAAAA</ion-list>
				<ion-list>BBBBB</ion-list>
			</ul>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Idiomas</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ul>
				<ion-list>AAAAA</ion-list>
				<ion-list>BBBBB</ion-list>
			</ul>
		</ion-card-content>
	</ion-card>




</ion-content>
