<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Rellena tus datos
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h1 style="margin-left: 5px; font-size: 20px;">Datos personales</h1>
	<form>
		<ion-item>
			<ion-label><b>Nombre: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label><b>Apellidos: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label><b>e-mail: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label><b>Móvil: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
	</form>
	<h1 style="margin-left: 5px; font-size: 20px;">Formación</h1>
	<form>
		<ion-item>
			<ion-label><b>Titulos: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label><b>Cursos: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label><b>Otros </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
	</form>
	<h1 style="margin-left: 5px; font-size: 20px;">Idiomas</h1>
	<form>
		<ion-item>
			<ion-label><b>Idioma 1: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label><b>Idioma 2: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label><b>Idioma 3: </b></ion-label>	
			<ion-input></ion-input>
		</ion-item>
	</form>
  
</ion-content>