<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card class="welcome-card">
      <ion-img src="/assets/garfield.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Datos Personales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul id="datos_personales">
        <li>Nerea Labandera</li>
        <li>nlabanderafe@gmail.com</li>
        <li>+34 666555444</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-list color="transparent">
    <ion-item href="http://localhost:8100/formacion">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Formación</ion-label>
    </ion-item>
    <ion-item href="http://localhost:8100/experiencia">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Experiencia</ion-label>
    </ion-item>
    <ion-item href="http://localhost:8100/idiomas">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Idiomas</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
